@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background-color: #383366;
    width: 99%;
    height: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a09ad6;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

section{
    color: #000;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 363);
}


#btn{
    background-color: #a09ad6;
    border: none;
    color: #383366;
    border-radius: 2px;
    width: 80px;
    height: 40px;
    font-size: 17px;
    transition: 1s;
    cursor: pointer;
}

main{
    text-align: center;
}

#label{
    display: flex;
    justify-content: center;
}


#img{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#more{
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: 'Inter', sans-serif;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
}
.fa-solid{
    margin: 15px;
}

.fa-clock{
    color: #8681e8;
    transition: 0.2s;
}

.fa-clock:hover{
    opacity: 60%;
}

.fa-user{
    color: #8681e8;
    transition: 0.2s;
}

.fa-user:hover{
    opacity: 60%;
}

.fa-arrow-up-9-1{
    color: #8681e8;
    transition: 0.2s;
}

.fa-arrow-up-9-1:hover{
    opacity: 60%;
}

.fa-asterisk{
    color: #8681e8;
    transition: 0.2s;
}

.fa-asterisk:hover{
    opacity: 60%;
}

.cssload-container {
    background-color: #282828;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.cssload-double-torus {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 4px double;
	border-radius: 50%;
	border-color:#e5ff00 #000;
	animation: cssload-spin 600ms infinite linear;
		-o-animation: cssload-spin 600ms infinite linear;
		-ms-animation: cssload-spin 600ms infinite linear;
		-webkit-animation: cssload-spin 600ms infinite linear;
		-moz-animation: cssload-spin 600ms infinite linear;
}

@media screen and (max-width: 440px){   
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    section{
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    #dados{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}